.exp-video {
    width: 200px; /* Fixed width for the container */
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #7b99ed;
    transition: 0.3s;
    animation: fadeIn 1s;
    overflow: hidden;
}

.exp-video-container {
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative;
}

.exp-video-display {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
}

.exp-video-info {
    padding: 10px;
    height: 80px; /* Adjust height to show 2 lines of description */
    transition: height 0.3s ease;
    background-color: white;
    overflow: hidden;
}

.exp-video-prsn-name {
    font-size: 12px;
    font-weight: 500;
    color: rgb(151, 88, 228);
    margin: 5px 0;
}

.exp-video-desc {
    color: #686868;
    font-size: 12px;
    min-height: 2em;
    transition: max-height 0.1s ease;
}

.user-details {
    display: none; /* Initially hide user details */
    font-size: 12px;
    color: rgb(151, 88, 228);
    margin-top: 2px;
}

.exp-video:hover .exp-video-info {
    height: auto; /* Expand to show full content on hover */
}

.exp-video:hover .user-details {
    display: block; /* Show user details on hover */
}


.add-to-fav{
    cursor: pointer;
    width: 24px; /* Adjust size as needed */
    height: 24px; /* Adjust size as needed */
    position: absolute;
    top: 10px;
    right: 10px;
}


.add-to-fav {
    position: absolute;
    top: 1.5px;
    right: 10px;
}

.fav-added img{
    position: absolute;
    top: 1.5px;
    right: 10px;
    cursor: pointer;
    width: 27px;
    height: 27px;
}

