.add {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-top: 20px;
}

.add form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    width: 500px; 
    background-color: #d3b9ed; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.add span {
    color: rgb(176, 45, 45);
}

.form-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: relative;
    width: 100%;
}

.form-section p {
    width: 150px; /* Set a fixed width for labels */
}

.vdo-upload-section p {
    width: auto; /* Make sure the width is auto for the video section */
}

.vdo-upload {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.vdo-upload img {
    width: 100px;
    height: 80px;
    cursor: pointer;
}

.form-section input,
.form-section select,
.form-section textarea {
    flex-grow: 1; /* Allow the input to take the remaining space */
    padding: 5px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-section textarea {
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
  }

.words-count{
    position: absolute;
    right: 81px;
    bottom: -200px;
    color: grey;
    font-size: small;
}

.button-container{
    display: flex;
    justify-content: center;
}

.add-btn{
    padding: 10px;
    margin-left: 90px;
    width: max(50%,100px);
    border: none;
    background-color: #b849f4;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

